body {
    padding: 0;
    margin: 0;
    background-image: url("imgs/leaves.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

/* Hero Image Rules */
.hero {
    /* the 'vh' unit asks the browser to */
    /* return the height of the viewport */
    /* we can then use that to set the height of an element */
    /* as a percentage of the viewport height (vh) */
    height: 100vh;
    min-height: 740px;
    background-image: url("imgs/stripes.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .8);
}

.hero .title {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 66%;
    font-size: 22pt;
    color: black;
    padding: 2em;
    text-align: center;
    border-radius: .5em;
    background-color: rgba(255, 255, 255, .4);
    
}

.title h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3em;
    letter-spacing: 0.05em;
}

.title h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    font-weight: 100;
    font-style: italic;
    line-height: 0.5em;
}

@media (max-width: 865px) {
    .hero {
        min-height: 730px;
    }
    .hero .title {
        font-size: 18pt;
    }
}

/* Description Rules */
/* Parallax-Like Effect */

.aboutme {
    margin: 25vh auto;
    max-width: 750px;
    padding: 1em;
    text-align: center;
    width: 75%;
    min-width: 300px;
    background-color: rgba(210, 210, 210, 0.8);
    font-size: 1.5em;
}

/* Menu Rules */
.hobbies {
    box-sizing: border-box;
    padding: 3em;
    background-color: rgb(255, 233, 161);
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, .8);
}

.hobbies-container {
    margin: auto;
    max-width: 950px;
    padding: 1em;
    border-style: solid;
}

.hobbies h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5em;
    letter-spacing: 0.05em;
}
