#pokeDiv {
    margin: auto;
    text-align: center;
    max-width: 300px;
    transform: translate(0%, 40%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.5);
}